CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
cache.hifs
node_modules
.vscode
.codex
bin/
lib/
lib64/
share/
include/
node_modules/
__pycache__/
__pycache__
migrations/
_pycache_
.codex
_deps
