.root:global(.__wab_instance) {
  position: relative;
  color: var(--token-u49XXaQUZiAI);
  font-family: var(--token-YF3w8U4wFqXe);
  font-size: var(--token-aJ14SHCz_oxA);
  line-height: var(--token-HGGLbZYni-EX);
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: var(--token-mYgXYJ2-62sr);
}
.slotTargetChildrensize_sm {
  font-size: var(--token-60LcQFAsDpVg);
  line-height: var(--token-EnpRsP_znmoc);
}
.slotTargetChildrensize_lg {
  font-size: var(--token-1TV1DauXSA27);
  line-height: var(--token-Iz7lVJvV3Ou8);
}
.text {
  position: relative;
  display: none;
}
.textrequirementIndicator_optional {
  color: var(--token-CTTtqHsPhci8);
  display: block;
}
.textrequirementIndicator_required {
  color: var(--token-OrPh8dTJURs7);
  display: block;
}
