.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-neUOG9qwUQUJ);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-AwfY-ue5xb8v);
  font-family: var(--token-YF3w8U4wFqXe);
  font-size: var(--token-aJ14SHCz_oxA);
  line-height: var(--token-HGGLbZYni-EX);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token--YeAyOBV16l4);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-UAwhjoWc0m7r);
  outline-offset: 1px;
  outline-color: var(--token-neUOG9qwUQUJ);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-qh7dMDYZvdif);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-6xsXSW1mSMvh);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-qI0hm5jdWmHQ);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-jrAfEzTQHztN);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-OrPh8dTJURs7);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-EnpRsP_znmoc);
  font-size: var(--token-60LcQFAsDpVg);
  column-gap: var(--token-UAwhjoWc0m7r);
  row-gap: 0px;
  border-radius: var(--token-mYgXYJ2-62sr);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-60LcQFAsDpVg);
  line-height: var(--token-EnpRsP_znmoc);
  column-gap: var(--token-mYgXYJ2-62sr);
  row-gap: 0px;
  border-radius: var(--token-mYgXYJ2-62sr);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-1TV1DauXSA27);
  line-height: var(--token-Iz7lVJvV3Ou8);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-1TV1DauXSA27);
  line-height: var(--token-Iz7lVJvV3Ou8);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-Ad9oSE5moviI);
  border-radius: var(--token--YeAyOBV16l4);
}
.softBackgroundcolor_neutral {
  background: var(--token-MQGzirh-a1Si);
}
.softBackgroundcolor_muted {
  background: var(--token-tFVGRA_UbJgI);
}
.softBackgroundcolor_success {
  background: var(--token-HdhldbNxAbc8);
}
.softBackgroundcolor_warning {
  background: var(--token-U26xKs4y8r8C);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-Pu7vR0bnDcIp);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token--YeAyOBV16l4);
  border: 0px solid var(--token-ub274P8JO7Aq);
}
.bordercolor_neutral {
  border-color: var(--token-a7y5LT6Ia9OH);
}
.bordercolor_muted {
  border-color: var(--token-oq9mii276kua);
}
.bordercolor_success {
  border-color: var(--token-CQ5KDzBfsgmI);
}
.bordercolor_warning {
  border-color: var(--token-sS5Rbgs69q8P);
}
.bordercolor_errorDestructive {
  border-color: var(--token-EFO7PqnbEcbd);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token--YeAyOBV16l4);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-kZQPue_EIXJT);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-SrvQL8aKXTdu);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-J3wTlygGJfw3);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__dDxU {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token--YeAyOBV16l4);
  min-width: 0;
  min-height: 0;
  padding: var(--token--YeAyOBV16l4) var(--token-GMjDdi7lJdt0);
}
.freeBoxsize_extraSmall__dDxU7VOlN {
  padding: var(--token-mYgXYJ2-62sr) var(--token--YeAyOBV16l4);
}
.freeBoxsize_small__dDxU2S8Bb {
  padding: var(--token--YeAyOBV16l4) var(--token-AwfY-ue5xb8v);
}
.freeBoxsize_large__dDxU2IIer {
  padding-top: var(--token-mYgXYJ2-62sr);
  padding-bottom: var(--token-mYgXYJ2-62sr);
}
.freeBoxsize_extraLarge__dDxUrPhac {
  padding-left: var(--token-ytrQEs57NROP);
  padding-right: var(--token-ytrQEs57NROP);
}
.freeBoxroundedFull__dDxU2488 {
  padding-right: var(--token-ytrQEs57NROP);
  padding-left: var(--token-ytrQEs57NROP);
}
.freeBox__cmoyp {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__cmoypnRgCg {
  display: flex;
}
.slotTargetStart {
  color: var(--token-6xSI4IuKEyA3);
}
.slotTargetStartcolor_neutral {
  color: var(--token-5_8mBOzeB836);
}
.slotTargetStartcolor_muted {
  color: var(--token-tQwUz_lAwDEm);
}
.slotTargetStartcolor_success {
  color: var(--token-HEZ4HRIEjJdM);
}
.slotTargetStartcolor_warning {
  color: var(--token-AVP536c23eaK);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-ltTrtcjkpxYE);
}
.slotTargetStarttype_soft {
  color: var(--token-3cqmZi7pUYkg);
}
.slotTargetStarttype_bordered {
  color: var(--token-3cqmZi7pUYkg);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-60LcQFAsDpVg);
}
.slotTargetStartsize_small {
  font-size: var(--token-60LcQFAsDpVg);
}
.slotTargetStartsize_large {
  font-size: var(--token-1TV1DauXSA27);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-1TV1DauXSA27);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-uLrrNVkGazvc);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-uLrrNVkGazvc);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-FG35LgYaD1aY);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-FG35LgYaD1aY);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-ie98gLcqoNDk);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-ie98gLcqoNDk);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-0BKtKsxavP4F);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-0BKtKsxavP4F);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-9kTTLC4YhpsG);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-9kTTLC4YhpsG);
}
.svg__aEzbp {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-6xSI4IuKEyA3);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-5_8mBOzeB836);
}
.slotTargetLabelcolor_muted {
  color: var(--token-tQwUz_lAwDEm);
}
.slotTargetLabelcolor_success {
  color: var(--token-HEZ4HRIEjJdM);
}
.slotTargetLabelcolor_warning {
  color: var(--token-AVP536c23eaK);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-ltTrtcjkpxYE);
}
.slotTargetLabeltype_soft {
  color: var(--token-3cqmZi7pUYkg);
}
.slotTargetLabeltype_bordered {
  color: var(--token-3cqmZi7pUYkg);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-uLrrNVkGazvc);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-FG35LgYaD1aY);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-uLrrNVkGazvc);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-ie98gLcqoNDk);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-FG35LgYaD1aY);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-0BKtKsxavP4F);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-ie98gLcqoNDk);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-9kTTLC4YhpsG);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-0BKtKsxavP4F);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-9kTTLC4YhpsG);
}
.text__eupO9 {
  white-space: pre;
}
.freeBox__zMnGe {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__zMnGebJdqu {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-6xSI4IuKEyA3);
}
.slotTargetEndcolor_neutral {
  color: var(--token-5_8mBOzeB836);
}
.slotTargetEndcolor_muted {
  color: var(--token-tQwUz_lAwDEm);
}
.slotTargetEndcolor_success {
  color: var(--token-HEZ4HRIEjJdM);
}
.slotTargetEndcolor_warning {
  color: var(--token-AVP536c23eaK);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-ltTrtcjkpxYE);
}
.slotTargetEndtype_soft {
  color: var(--token-3cqmZi7pUYkg);
}
.slotTargetEndtype_bordered {
  color: var(--token-3cqmZi7pUYkg);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-60LcQFAsDpVg);
}
.slotTargetEndsize_small {
  font-size: var(--token-60LcQFAsDpVg);
}
.slotTargetEndsize_large {
  font-size: var(--token-1TV1DauXSA27);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-1TV1DauXSA27);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-uLrrNVkGazvc);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-uLrrNVkGazvc);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-FG35LgYaD1aY);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-FG35LgYaD1aY);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-ie98gLcqoNDk);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-ie98gLcqoNDk);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-0BKtKsxavP4F);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-0BKtKsxavP4F);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-9kTTLC4YhpsG);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-9kTTLC4YhpsG);
}
.svg__qAcjm {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
