.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-mYgXYJ2-62sr);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__zZs6Q {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-mYgXYJ2-62sr);
}
.radio__vd0Ww:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__gq9Sy:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__heZuh:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
