.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-mYgXYJ2-62sr);
  min-width: 0;
}
.ariaComboBox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.ariaInput:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px var(--token-kNVYVz2b0TE1);
  width: 100%;
  font-size: var(--token-aJ14SHCz_oxA);
  line-height: var(--token-HGGLbZYni-EX);
  outline-style: none;
  min-width: 0;
  border-radius: var(--token--YeAyOBV16l4);
  padding: var(--token--YeAyOBV16l4) var(--token-_dDOhHKmY1NU)
    var(--token--YeAyOBV16l4) var(--token-GMjDdi7lJdt0);
  border-style: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-_dDOhHKmY1NU);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-_dDOhHKmY1NU);
  flex-shrink: 0;
  border-radius: var(--token--YeAyOBV16l4);
  border: 1px none black;
}
.svg {
  width: var(--token-3a7CgfZvY-kY);
  height: var(--token-3a7CgfZvY-kY);
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__eY1FZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
