.root:global(.__wab_instance) {
  position: relative;
  cursor: pointer;
  color: var(--token-u49XXaQUZiAI);
  font-family: var(--token-YF3w8U4wFqXe);
  font-size: var(--token-aJ14SHCz_oxA);
  line-height: var(--token-HGGLbZYni-EX);
  outline-style: none;
  border-radius: var(--token--YeAyOBV16l4);
}
.root[data-hovered]:global(.__wab_instance) {
  background: var(--token-tFVGRA_UbJgI);
}
.root[data-selected]:global(.__wab_instance) {
  background: var(--token-Ad9oSE5moviI);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-UAwhjoWc0m7r);
  outline-color: var(--token-neUOG9qwUQUJ);
  outline-offset: 1px;
}
.freeBox__ox2M {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 2px;
  row-gap: var(--token-UAwhjoWc0m7r);
  min-width: 0;
  padding: var(--token-AwfY-ue5xb8v) var(--token-GMjDdi7lJdt0);
}
.freeBox__fM8W3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__kvDk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-CTTtqHsPhci8);
  min-width: 0;
}
