.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.button___34TJx:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__sk9Un {
  position: relative;
  height: 1em;
}
.text__b9GFu {
  padding-right: 0px;
}
.svg__swsgV {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  border-top-right-radius: var(--token-3a7CgfZvY-kY);
  border-top-left-radius: var(--token-3a7CgfZvY-kY);
  outline-style: none;
  background: var(--token-r1Fe1RDtPkf6);
  display: block;
  color: var(--token-u49XXaQUZiAI);
  font-family: var(--token-YF3w8U4wFqXe);
  font-size: var(--token-aJ14SHCz_oxA);
  line-height: var(--token-HGGLbZYni-EX);
  position: relative;
  box-shadow: 0px 24px 48px -12px #00000040;
}
.pcls_eVp9V3uyxQHK {
  background: var(--token-JOuu53qXhcb2);
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  outline: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .ariaModal:global(.__wab_instance) {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: var(--token-ytrQEs57NROP);
    border-top-right-radius: var(--token-ytrQEs57NROP);
    max-height: 100%;
  }
}
.ariaDialog:global(.__wab_instance) {
  object-fit: cover;
  overflow: hidden;
  outline-style: none;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  max-height: 90vh;
}
.freeBox__mIh4L {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  min-width: 0;
  min-height: 0;
}
.h2__i3UR4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: bold;
  font-size: var(--token-1TV1DauXSA27);
  min-width: 0;
  padding: var(--token-pMd0tQfur5NT);
  margin: 0rem;
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  padding: 0px var(--token-pMd0tQfur5NT);
}
.freeBox__iaxO5 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  row-gap: var(--token-ytrQEs57NROP);
}
.text__epHXf {
  position: relative;
}
.freeBox___3Ntya {
  display: flex;
  position: relative;
  flex-shrink: 0;
  padding: var(--token-pMd0tQfur5NT);
}
.freeBox__qTu3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__gefAm {
  position: relative;
  height: 1em;
}
.svg__qwfTt {
  position: relative;
  height: 1em;
}
