.root {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fdfdfd;
  position: relative;
  row-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 12px;
  padding: 24px;
}
.freeBox {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h2 {
  color: var(--token-rWSjqD1G25yv);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
}
.chart:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  background: #ffffff;
  min-width: 0;
}
