.root:global(.__wab_instance) {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  min-height: 100%;
  position: relative;
  padding-top: 0px;
  width: 100%;
  font-family: "Ingrid Darling";
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.loadingBoundary:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__s6C {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 100px 8px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: #8888881a;
  flex-shrink: 0;
}
.freeBox__roGAe {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 32px 0px;
}
.freeBox__roGAe > * {
  grid-column: 4;
}
.section___1Gd7D {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0;
}
.section___1Gd7D > * {
  grid-column: 4;
}
.h1__hFaSu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__qUzm4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img {
  object-fit: cover;
}
.img > picture > img {
  object-fit: cover;
}
