.root:global(.__wab_instance) {
  width: 300px;
  box-sizing: border-box;
  object-fit: cover;
  background: var(--token-r1Fe1RDtPkf6);
  position: relative;
  overflow: auto;
  box-shadow:
    0px 0px 12px 0px #00000040,
    0px 0px 0px 0.5px var(--token-oq9mii276kua);
  border-radius: var(--token-GMjDdi7lJdt0);
  padding: var(--token--YeAyOBV16l4);
}
.ariaListBox:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  outline-style: none;
  min-width: 0;
}
.menuSection___9NMUk:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
