@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Judson%3Aital%2Cwght%400%2C400%3B0%2C700&family=Inria+Sans%3Aital%2Cwght%400%2C400%3B0%2C700&family=Ingrid+Darling%3Aital%2Cwght%400%2C400&display=swap");

.plasmic_tokens {
  --token-qDFI_O8B7-7a: 16px;
  --plasmic-token-h-2: var(--token-qDFI_O8B7-7a);
  --token-oLhaBTROnEH9: #2a2b37;
  --plasmic-token-neutral-900: var(--token-oLhaBTROnEH9);
  --token-rWSjqD1G25yv: #383848;
  --plasmic-token-neutral-800: var(--token-rWSjqD1G25yv);
  --token-m0u2XMpRqedo: #48485c;
  --plasmic-token-neutral-700: var(--token-m0u2XMpRqedo);
  --token-_FGy6m5GPdgW: #5c5d76;
  --plasmic-token-neutral-600: var(--token-_FGy6m5GPdgW);
  --token-lhHoPxaW9Cjb: #656682;
  --plasmic-token-neutral-500: var(--token-lhHoPxaW9Cjb);
  --token-absLLDajHPbW: #84859b;
  --plasmic-token-neutral-400: var(--token-absLLDajHPbW);
  --token-ijpcrJDnCVWW: #9898ab;
  --plasmic-token-neutral-300: var(--token-ijpcrJDnCVWW);
  --token-YKjTRYoWyRUe: #b8b9c6;
  --plasmic-token-neutral-200: var(--token-YKjTRYoWyRUe);
  --token-khHz73WOXWsz: #cfd0d8;
  --plasmic-token-neutral-100: var(--token-khHz73WOXWsz);
  --token-6JBAKV5Jtaxs: var(--token-xrAHAkT_nO3J);
  --plasmic-token-neutral-050: var(--token-6JBAKV5Jtaxs);
  --token-Mj0m5Ntf7xrZ: 14px;
  --plasmic-token-body-small: var(--token-Mj0m5Ntf7xrZ);
  --token-uiO_DxoFFEvZ: 20px;
  --plasmic-token-body-small-2: var(--token-uiO_DxoFFEvZ);
  --token-p72uFHMKYi_a: #01471e;
  --plasmic-token-success-text: var(--token-p72uFHMKYi_a);
  --token-3zA8ZiSoYitO: #dffbea;
  --plasmic-token-success-bg: var(--token-3zA8ZiSoYitO);
  --token-uGfUBikJTxVe: var(--token-jndsSOTyiQoG);
  --plasmic-token-success-200: var(--token-uGfUBikJTxVe);
  --token-B2BMCsewqS3p: #87efb1;
  --plasmic-token-success-300: var(--token-B2BMCsewqS3p);
  --token-QGiBd3SBeVDs: #5fea97;
  --plasmic-token-success-400: var(--token-QGiBd3SBeVDs);
  --token-jndsSOTyiQoG: #37e57d;
  --plasmic-token-success-500: var(--token-jndsSOTyiQoG);
  --token-f1xoWyRD2BSl: #24bf63;
  --plasmic-token-success-600: var(--token-f1xoWyRD2BSl);
  --token-51A8_gY1YeG-: #159649;
  --plasmic-token-success-700: var(--token-51A8_gY1YeG-);
  --token-zMbHeYM-oWDe: #096e32;
  --plasmic-token-success-800: var(--token-zMbHeYM-oWDe);
  --token-HQ00DE7pbKXb: #d7faf8;
  --plasmic-token-secondary-100: var(--token-HQ00DE7pbKXb);
  --token-l-BFU7HlUqzU: #aff5f0;
  --plasmic-token-secondary-200: var(--token-l-BFU7HlUqzU);
  --token-AP8FO-Pb5OQ8: #87efe8;
  --plasmic-token-secondary-300: var(--token-AP8FO-Pb5OQ8);
  --token-H8UoWvQ8rUYK: #5feae1;
  --plasmic-token-secondary-400: var(--token-H8UoWvQ8rUYK);
  --token-Q_Wdz9mXVon0: #37e5db;
  --plasmic-token-secondary-500: var(--token-Q_Wdz9mXVon0);
  --token-KcD8dtG3Ma6f: #24bfb5;
  --plasmic-token-secondary-600: var(--token-KcD8dtG3Ma6f);
  --token-BBulfE0qRr9I: #15968e;
  --plasmic-token-secondary-700: var(--token-BBulfE0qRr9I);
  --token-e4C-vXfQp2ns: #096e67;
  --plasmic-token-secondary-800: var(--token-e4C-vXfQp2ns);
  --token-TdoHB8UlniVJ: #014743;
  --plasmic-token-secondary-900: var(--token-TdoHB8UlniVJ);
  --token-VK12iAhZTGqU: #d8d8fa;
  --plasmic-token-primary-100: var(--token-VK12iAhZTGqU);
  --token-Oqdd9RoFAZCY: #b0b1f4;
  --plasmic-token-primary-200: var(--token-Oqdd9RoFAZCY);
  --token-P8wAP4MaqfdT: #898bef;
  --plasmic-token-primary-300: var(--token-P8wAP4MaqfdT);
  --token-w97UzNua148O: #6164e9;
  --plasmic-token-primary-400: var(--token-w97UzNua148O);
  --token-omzc2eYkR9oa: #3a3de4;
  --plasmic-token-primary-500: var(--token-omzc2eYkR9oa);
  --token-6_UJu2GsXJ3A: #2225bf;
  --plasmic-token-primary-600: var(--token-6_UJu2GsXJ3A);
  --token-ngRb3q24rVf8: #141696;
  --plasmic-token-primary-700: var(--token-ngRb3q24rVf8);
  --token-8w8Ulso3Dx3r: #08096e;
  --plasmic-token-primary-800: var(--token-8w8Ulso3Dx3r);
  --token-debQPbsQ1msb: #010347;
  --plasmic-token-primary-900: var(--token-debQPbsQ1msb);
  --token-wexldjpMjag9: #f2f3fd;
  --plasmic-token-primary-050: var(--token-wexldjpMjag9);
  --token-4DjbrstRD2ls: #faf6d7;
  --plasmic-token-warning-100: var(--token-4DjbrstRD2ls);
  --token-UYXsZePBGr0-: #f5eeaf;
  --plasmic-token-warning-200: var(--token-UYXsZePBGr0-);
  --token-AsJeON1l9K82: #efe587;
  --plasmic-token-warning-300: var(--token-AsJeON1l9K82);
  --token-sa5mSxx1Eiy5: #eadd5f;
  --plasmic-token-warning-400: var(--token-sa5mSxx1Eiy5);
  --token-WIqK85qrOC8w: #e5d437;
  --plasmic-token-warning-500: var(--token-WIqK85qrOC8w);
  --token-5P1JiMhpwCZl: #bfb024;
  --plasmic-token-warning-600: var(--token-5P1JiMhpwCZl);
  --token-E8VyzoHm2kZP: #998c15;
  --plasmic-token-warning-700: var(--token-E8VyzoHm2kZP);
  --token-LNzdimrgjKvv: #6e6408;
  --plasmic-token-warning-800: var(--token-LNzdimrgjKvv);
  --token-fYct83vzptXp: #383302;
  --plasmic-token-warning-900: var(--token-fYct83vzptXp);
  --token-agg-rWFfAhEH: #fad7d7;
  --plasmic-token-danger-100: var(--token-agg-rWFfAhEH);
  --token-6wY8F0nLInAQ: #f18787;
  --plasmic-token-danger-300: var(--token-6wY8F0nLInAQ);
  --token-nfH7ay_FqBQw: #f6afaf;
  --plasmic-token-danger-200: var(--token-nfH7ay_FqBQw);
  --token-fEgNy5THNAtE: #ed6060;
  --plasmic-token-danger-400: var(--token-fEgNy5THNAtE);
  --token-errroV0cZyw6: #00aa8e;
  --plasmic-token-danger-500: var(--token-errroV0cZyw6);
  --token-f_07Yd2TVNJ3: #c22525;
  --plasmic-token-danger-600: var(--token-f_07Yd2TVNJ3);
  --token-7sBbAQLNWiBC: #9c1616;
  --plasmic-token-danger-700: var(--token-7sBbAQLNWiBC);
  --token-iiEhUcg91EZr: #6b0707;
  --plasmic-token-danger-800: var(--token-iiEhUcg91EZr);
  --token-_IpP7oH-7jmn: #360202;
  --plasmic-token-danger-900: var(--token-_IpP7oH-7jmn);
  --token-BcgeLQqBhxwK: #fdfdfd;
  --plasmic-token-neutral-0: var(--token-BcgeLQqBhxwK);
  --token-xrAHAkT_nO3J: #9191ae;
  --plasmic-token-unnamed-style-token: var(--token-xrAHAkT_nO3J);
  --token-_dDOhHKmY1NU: 2rem;
  --plasmic-token-size-32: var(--token-_dDOhHKmY1NU);
  --token-3a7CgfZvY-kY: 1rem;
  --plasmic-token-size-16: var(--token-3a7CgfZvY-kY);
  --token-AwfY-ue5xb8v: 0.5rem;
  --plasmic-token-size-8: var(--token-AwfY-ue5xb8v);
  --token-FG35LgYaD1aY: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-FG35LgYaD1aY);
  --token-mYgXYJ2-62sr: 0.25rem;
  --plasmic-token-size-4: var(--token-mYgXYJ2-62sr);
  --token-ytrQEs57NROP: 0.75rem;
  --plasmic-token-size-12: var(--token-ytrQEs57NROP);
  --token-pMd0tQfur5NT: 1.5rem;
  --plasmic-token-size-24: var(--token-pMd0tQfur5NT);
  --token-1TV1DauXSA27: 1.25rem;
  --plasmic-token-font-lg: var(--token-1TV1DauXSA27);
  --token-r1Fe1RDtPkf6: #ffffff;
  --plasmic-token-basic-container-background: var(--token-r1Fe1RDtPkf6);
  --token-neUOG9qwUQUJ: #2563eb;
  --plasmic-token-brand-brand: var(--token-neUOG9qwUQUJ);
  --token-YF3w8U4wFqXe: Inter;
  --plasmic-token-sans-serif: var(--token-YF3w8U4wFqXe);
  --token-aJ14SHCz_oxA: 1rem;
  --plasmic-token-font-md: var(--token-aJ14SHCz_oxA);
  --token-HGGLbZYni-EX: 1.25;
  --plasmic-token-line-height-md: var(--token-HGGLbZYni-EX);
  --token--YeAyOBV16l4: 0.375rem;
  --plasmic-token-size-6: var(--token--YeAyOBV16l4);
  --token-qh7dMDYZvdif: #374151;
  --plasmic-token-neutral-neutral: var(--token-qh7dMDYZvdif);
  --token-OrPh8dTJURs7: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-OrPh8dTJURs7);
  --token-6xsXSW1mSMvh: #6b7280;
  --plasmic-token-muted-muted: var(--token-6xsXSW1mSMvh);
  --token-60LcQFAsDpVg: 0.75rem;
  --plasmic-token-font-sm: var(--token-60LcQFAsDpVg);
  --token-EnpRsP_znmoc: 1;
  --plasmic-token-line-height-sm: var(--token-EnpRsP_znmoc);
  --token-Iz7lVJvV3Ou8: 1.4;
  --plasmic-token-line-height-lg: var(--token-Iz7lVJvV3Ou8);
  --token-UAwhjoWc0m7r: 0.125rem;
  --plasmic-token-size-2: var(--token-UAwhjoWc0m7r);
  --token-qI0hm5jdWmHQ: #16a34a;
  --plasmic-token-success-success: var(--token-qI0hm5jdWmHQ);
  --token-jrAfEzTQHztN: #facc15;
  --plasmic-token-warning-warning: var(--token-jrAfEzTQHztN);
  --token-Ad9oSE5moviI: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-Ad9oSE5moviI);
  --token-MQGzirh-a1Si: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-MQGzirh-a1Si);
  --token-tFVGRA_UbJgI: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-tFVGRA_UbJgI);
  --token-HdhldbNxAbc8: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-HdhldbNxAbc8);
  --token-U26xKs4y8r8C: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-U26xKs4y8r8C);
  --token-Pu7vR0bnDcIp: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-Pu7vR0bnDcIp);
  --token-ub274P8JO7Aq: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-ub274P8JO7Aq);
  --token-a7y5LT6Ia9OH: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-a7y5LT6Ia9OH);
  --token-oq9mii276kua: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-oq9mii276kua);
  --token-CQ5KDzBfsgmI: #86efac;
  --plasmic-token-success-success-border: var(--token-CQ5KDzBfsgmI);
  --token-sS5Rbgs69q8P: #fde047;
  --plasmic-token-warning-warning-border: var(--token-sS5Rbgs69q8P);
  --token-EFO7PqnbEcbd: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-EFO7PqnbEcbd);
  --token-kZQPue_EIXJT: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-kZQPue_EIXJT);
  --token-SrvQL8aKXTdu: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-SrvQL8aKXTdu);
  --token-J3wTlygGJfw3: #00000033;
  --plasmic-token-interaction-pressed: var(--token-J3wTlygGJfw3);
  --token-GMjDdi7lJdt0: 0.625rem;
  --plasmic-token-size-10: var(--token-GMjDdi7lJdt0);
  --token-6xSI4IuKEyA3: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-6xSI4IuKEyA3);
  --token-5_8mBOzeB836: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-5_8mBOzeB836);
  --token-tQwUz_lAwDEm: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-tQwUz_lAwDEm);
  --token-3cqmZi7pUYkg: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-3cqmZi7pUYkg);
  --token-AVP536c23eaK: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-AVP536c23eaK);
  --token-HEZ4HRIEjJdM: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-HEZ4HRIEjJdM);
  --token-ltTrtcjkpxYE: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-ltTrtcjkpxYE);
  --token-uLrrNVkGazvc: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-uLrrNVkGazvc);
  --token-ie98gLcqoNDk: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-ie98gLcqoNDk);
  --token-0BKtKsxavP4F: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-0BKtKsxavP4F);
  --token-9kTTLC4YhpsG: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-9kTTLC4YhpsG
  );
  --token-u49XXaQUZiAI: #030712;
  --plasmic-token-basic-text-primary: var(--token-u49XXaQUZiAI);
  --token-CTTtqHsPhci8: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-CTTtqHsPhci8);
  --token-ZRTlP_kxGJj9: 1.25rem;
  --plasmic-token-size-20: var(--token-ZRTlP_kxGJj9);
  --token-z-CT4RloyQ7o: #9ca3af;
  --plasmic-token-basic-ring: var(--token-z-CT4RloyQ7o);
  --token-kNVYVz2b0TE1: #d1d5db;
  --plasmic-token-basic-border: var(--token-kNVYVz2b0TE1);
  --token-3Q-L7Abyxg8M: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-3Q-L7Abyxg8M);
  --token-95aQbd9MbHdU: #e5e7eb;
  --plasmic-token-basic-input-background: var(--token-95aQbd9MbHdU);
  --token-JOuu53qXhcb2: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-JOuu53qXhcb2);
  --token-_KfeqfHy0HCk: #171717;
  --plasmic-token-basic-container-background-dark: var(--token-_KfeqfHy0HCk);
  --token-bRBqiRRlyC_k: #effe8e;
  --plasmic-token-path-text: var(--token-bRBqiRRlyC_k);
  --token-vfZUx7yR0LB7: var(--token-dvIigQsSytcN);
  --plasmic-token-unnamed-style-token-2: var(--token-vfZUx7yR0LB7);
  --token-dvIigQsSytcN: var(--token-Wos5n36XvTSd);
  --plasmic-token-unnamed-style-token-3: var(--token-dvIigQsSytcN);
  --token-Wos5n36XvTSd: var(--token-uGfUBikJTxVe);
  --plasmic-token-unnamed-style-token-4: var(--token-Wos5n36XvTSd);
  --token-fBBgR_u4Ihnb: #d4ebf1;
  --plasmic-token-container-backgrounds: var(--token-fBBgR_u4Ihnb);
  --token-TPvUnUIrAI09: var(--token-fBBgR_u4Ihnb);
  --plasmic-token-unnamed-style-token-5: var(--token-TPvUnUIrAI09);
  --token-uigIXUtzVEis: #d4ebf1;
  --plasmic-token-unnamed-style-token-6: var(--token-uigIXUtzVEis);
  --token-EaloSj03TePG: var(--token-oLhaBTROnEH9);
  --plasmic-token-bright-text: var(--token-EaloSj03TePG);
  --token-7HQ12MdxX_MO: #333344;
  --plasmic-token-unnamed-style-token-7: var(--token-7HQ12MdxX_MO);
  --token-w1eZiUdhfBOz: #333344;
  --plasmic-token-unnamed-style-token-8: var(--token-w1eZiUdhfBOz);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-wisx4p6wwE8Z_font-family: "Inter", sans-serif;
  --mixin-wisx4p6wwE8Z_font-size: 14px;
  --mixin-wisx4p6wwE8Z_font-weight: 400;
  --mixin-wisx4p6wwE8Z_font-style: normal;
  --mixin-wisx4p6wwE8Z_color: var(--token-ijpcrJDnCVWW);
  --mixin-wisx4p6wwE8Z_text-align: left;
  --mixin-wisx4p6wwE8Z_text-transform: none;
  --mixin-wisx4p6wwE8Z_line-height: 21px;
  --mixin-wisx4p6wwE8Z_letter-spacing: -0.6%;
  --mixin-wisx4p6wwE8Z_white-space: pre-wrap;
  --mixin-wisx4p6wwE8Z_user-select: text;
  --mixin-wisx4p6wwE8Z_text-decoration-line: none;
  --mixin-wisx4p6wwE8Z_text-overflow: clip;
  --mixin-nxj3Ned0TRmC_color: var(--token-oLhaBTROnEH9);
  --mixin-nxj3Ned0TRmC_font-weight: 600;
  --mixin-nxj3Ned0TRmC_font-size: 26px;
  --mixin-nxj3Ned0TRmC_line-height: 32px;
  --mixin-nxj3Ned0TRmC_letter-spacing: -1%;
  --mixin-nxj3Ned0TRmC_white-space: pre-wrap;
  --mixin-7-mHclmLSfgy_color: var(--token-oLhaBTROnEH9);
  --mixin-7-mHclmLSfgy_font-size: 23px;
  --mixin-7-mHclmLSfgy_font-weight: 700;
  --mixin-7-mHclmLSfgy_line-height: 28px;
  --mixin-7-mHclmLSfgy_font-family: "Inter", sans-serif;
  --mixin-7-mHclmLSfgy_letter-spacing: -1%;
  --mixin-7-mHclmLSfgy_white-space: pre-wrap;
  --mixin-yx-lGhSRQj5u_color: #0070f3;
  --mixin-yx-lGhSRQj5u_white-space: pre-wrap;
  --mixin-EATMma_S-Pdh_color: var(--token-oLhaBTROnEH9);
  --mixin-EATMma_S-Pdh_font-size: 20px;
  --mixin-EATMma_S-Pdh_font-weight: 700;
  --mixin-EATMma_S-Pdh_line-height: 24px;
  --mixin-EATMma_S-Pdh_letter-spacing: -1%;
  --mixin-EATMma_S-Pdh_font-family: "Inter", sans-serif;
  --mixin-EATMma_S-Pdh_white-space: pre-wrap;
  --mixin-zlu10FX9-2qf_color: var(--token-oLhaBTROnEH9);
  --mixin-zlu10FX9-2qf_font-size: 18px;
  --mixin-zlu10FX9-2qf_font-weight: 700;
  --mixin-zlu10FX9-2qf_line-height: 24px;
  --mixin-zlu10FX9-2qf_letter-spacing: -1%;
  --mixin-zlu10FX9-2qf_font-family: "Inter", sans-serif;
  --mixin-zlu10FX9-2qf_white-space: pre-wrap;
  --mixin-iowLOUKQgfre_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-iowLOUKQgfre_border-bottom-color: #dddddd;
  --mixin-iowLOUKQgfre_border-bottom-style: solid;
  --mixin-iowLOUKQgfre_border-bottom-width: 1px;
  --mixin-iowLOUKQgfre_border-left-color: #dddddd;
  --mixin-iowLOUKQgfre_border-left-style: solid;
  --mixin-iowLOUKQgfre_border-left-width: 1px;
  --mixin-iowLOUKQgfre_border-right-color: #dddddd;
  --mixin-iowLOUKQgfre_border-right-style: solid;
  --mixin-iowLOUKQgfre_border-right-width: 1px;
  --mixin-iowLOUKQgfre_border-top-color: #dddddd;
  --mixin-iowLOUKQgfre_border-top-style: solid;
  --mixin-iowLOUKQgfre_border-top-width: 1px;
  --mixin-iowLOUKQgfre_border-bottom-left-radius: 3px;
  --mixin-iowLOUKQgfre_border-bottom-right-radius: 3px;
  --mixin-iowLOUKQgfre_border-top-left-radius: 3px;
  --mixin-iowLOUKQgfre_border-top-right-radius: 3px;
  --mixin-iowLOUKQgfre_font-family: "Inconsolata";
  --mixin-iowLOUKQgfre_padding-bottom: 1px;
  --mixin-iowLOUKQgfre_padding-left: 4px;
  --mixin-iowLOUKQgfre_padding-right: 4px;
  --mixin-iowLOUKQgfre_padding-top: 1px;
  --mixin-iowLOUKQgfre_white-space: pre-wrap;
  --mixin-go6bAExUqL9i_border-left-color: #dddddd;
  --mixin-go6bAExUqL9i_border-left-style: solid;
  --mixin-go6bAExUqL9i_border-left-width: 3px;
  --mixin-go6bAExUqL9i_color: #888888;
  --mixin-go6bAExUqL9i_padding-left: 10px;
  --mixin-go6bAExUqL9i_white-space: pre-wrap;
  --mixin-Le6-eboRGyyL_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Le6-eboRGyyL_border-bottom-color: #dddddd;
  --mixin-Le6-eboRGyyL_border-bottom-style: solid;
  --mixin-Le6-eboRGyyL_border-bottom-width: 1px;
  --mixin-Le6-eboRGyyL_border-left-color: #dddddd;
  --mixin-Le6-eboRGyyL_border-left-style: solid;
  --mixin-Le6-eboRGyyL_border-left-width: 1px;
  --mixin-Le6-eboRGyyL_border-right-color: #dddddd;
  --mixin-Le6-eboRGyyL_border-right-style: solid;
  --mixin-Le6-eboRGyyL_border-right-width: 1px;
  --mixin-Le6-eboRGyyL_border-top-color: #dddddd;
  --mixin-Le6-eboRGyyL_border-top-style: solid;
  --mixin-Le6-eboRGyyL_border-top-width: 1px;
  --mixin-Le6-eboRGyyL_border-bottom-left-radius: 3px;
  --mixin-Le6-eboRGyyL_border-bottom-right-radius: 3px;
  --mixin-Le6-eboRGyyL_border-top-left-radius: 3px;
  --mixin-Le6-eboRGyyL_border-top-right-radius: 3px;
  --mixin-Le6-eboRGyyL_font-family: "Inconsolata";
  --mixin-Le6-eboRGyyL_padding-bottom: 3px;
  --mixin-Le6-eboRGyyL_padding-left: 6px;
  --mixin-Le6-eboRGyyL_padding-right: 6px;
  --mixin-Le6-eboRGyyL_padding-top: 3px;
  --mixin-Le6-eboRGyyL_white-space: pre-wrap;
  --mixin-uRZCm0S2ZvOr_display: flex;
  --mixin-uRZCm0S2ZvOr_flex-direction: column;
  --mixin-uRZCm0S2ZvOr_align-items: stretch;
  --mixin-uRZCm0S2ZvOr_justify-content: flex-start;
  --mixin-uRZCm0S2ZvOr_list-style-position: outside;
  --mixin-uRZCm0S2ZvOr_padding-left: 40px;
  --mixin-uRZCm0S2ZvOr_position: relative;
  --mixin-uRZCm0S2ZvOr_list-style-type: disc;
  --mixin-uRZCm0S2ZvOr_white-space: pre-wrap;
  --mixin-7jigknzIbRsW_display: flex;
  --mixin-7jigknzIbRsW_flex-direction: column;
  --mixin-7jigknzIbRsW_align-items: stretch;
  --mixin-7jigknzIbRsW_justify-content: flex-start;
  --mixin-7jigknzIbRsW_list-style-position: outside;
  --mixin-7jigknzIbRsW_padding-left: 40px;
  --mixin-7jigknzIbRsW_position: relative;
  --mixin-7jigknzIbRsW_list-style-type: decimal;
  --mixin-7jigknzIbRsW_white-space: pre-wrap;
  --mixin-OkqmzZr31O-3_color: var(--token-rWSjqD1G25yv);
  --mixin-OkqmzZr31O-3_font-size: 16px;
  --mixin-OkqmzZr31O-3_font-weight: 600;
  --mixin-OkqmzZr31O-3_line-height: 20px;
  --mixin-OkqmzZr31O-3_letter-spacing: -1%;
  --mixin-OkqmzZr31O-3_font-family: "Inter", sans-serif;
  --mixin-OkqmzZr31O-3_white-space: pre-wrap;
  --mixin-VaIFHZLiyg02_color: var(--token-oLhaBTROnEH9);
  --mixin-VaIFHZLiyg02_font-size: 14px;
  --mixin-VaIFHZLiyg02_font-weight: 600;
  --mixin-VaIFHZLiyg02_line-height: 20px;
  --mixin-VaIFHZLiyg02_letter-spacing: 1%;
  --mixin-VaIFHZLiyg02_font-family: "Inter", sans-serif;
  --mixin-VaIFHZLiyg02_white-space: pre-wrap;
  --mixin-QraUlnIZ6dxH_color: #3291ff;
  --mixin-QraUlnIZ6dxH_white-space: pre-wrap;
  --mixin-ZY-uy89SyLPb_white-space: pre-wrap;
  --mixin-LBwLZ6Rv5R0I_color: var(--token-m0u2XMpRqedo);
  --mixin-LBwLZ6Rv5R0I_font-family: "Inter", sans-serif;
  --mixin-LBwLZ6Rv5R0I_font-weight: 500;
  --mixin-LBwLZ6Rv5R0I_font-size: 16px;
  --mixin-LBwLZ6Rv5R0I_line-height: 24px;
  --mixin-LBwLZ6Rv5R0I_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-5ja4-uBku7Q-_white-space: pre-wrap;
  --plasmic-mixin-label-m_white-space: var(--mixin-5ja4-uBku7Q-_white-space);
  --mixin-J9CTccAtPn4K_white-space: pre-wrap;
  --plasmic-mixin-label-s_white-space: var(--mixin-J9CTccAtPn4K_white-space);
  --mixin-yKKK5L4Ni9zM_box-shadow:
    0px 12px 12px -6px #00000029, 0px 0px 1px 0px #00000066;
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-yKKK5L4Ni9zM_box-shadow);
  --mixin-yKKK5L4Ni9zM_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-yKKK5L4Ni9zM_white-space
  );
  --mixin-dM5heS2jwpgi_white-space: pre-wrap;
  --plasmic-mixin-label-l_white-space: var(--mixin-dM5heS2jwpgi_white-space);
  --mixin-fdOZZyRUCc9t_white-space: pre-wrap;
  --plasmic-mixin-l-heading_white-space: var(--mixin-fdOZZyRUCc9t_white-space);
  --mixin-BUukOSsMuYMy_box-shadow:
    0px 0px 4px 0px #0000001a, 0px 4px 16px 0px #00000033;
  --plasmic-mixin-card-component-shadow_box-shadow: var(
    --mixin-BUukOSsMuYMy_box-shadow
  );
  --mixin-BUukOSsMuYMy_white-space: pre-wrap;
  --plasmic-mixin-card-component-shadow_white-space: var(
    --mixin-BUukOSsMuYMy_white-space
  );
  --mixin-XrahsZOUd1uG_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-XrahsZOUd1uG_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-wisx4p6wwE8Z_font-family);
  font-size: var(--mixin-wisx4p6wwE8Z_font-size);
  font-weight: var(--mixin-wisx4p6wwE8Z_font-weight);
  font-style: var(--mixin-wisx4p6wwE8Z_font-style);
  color: var(--mixin-wisx4p6wwE8Z_color);
  text-align: var(--mixin-wisx4p6wwE8Z_text-align);
  text-transform: var(--mixin-wisx4p6wwE8Z_text-transform);
  line-height: var(--mixin-wisx4p6wwE8Z_line-height);
  letter-spacing: var(--mixin-wisx4p6wwE8Z_letter-spacing);
  white-space: var(--mixin-wisx4p6wwE8Z_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-nxj3Ned0TRmC_color);
  font-weight: var(--mixin-nxj3Ned0TRmC_font-weight);
  font-size: var(--mixin-nxj3Ned0TRmC_font-size);
  line-height: var(--mixin-nxj3Ned0TRmC_line-height);
  letter-spacing: var(--mixin-nxj3Ned0TRmC_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-7-mHclmLSfgy_color);
  font-size: var(--mixin-7-mHclmLSfgy_font-size);
  font-weight: var(--mixin-7-mHclmLSfgy_font-weight);
  line-height: var(--mixin-7-mHclmLSfgy_line-height);
  font-family: var(--mixin-7-mHclmLSfgy_font-family);
  letter-spacing: var(--mixin-7-mHclmLSfgy_letter-spacing);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-yx-lGhSRQj5u_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-EATMma_S-Pdh_color);
  font-size: var(--mixin-EATMma_S-Pdh_font-size);
  font-weight: var(--mixin-EATMma_S-Pdh_font-weight);
  line-height: var(--mixin-EATMma_S-Pdh_line-height);
  letter-spacing: var(--mixin-EATMma_S-Pdh_letter-spacing);
  font-family: var(--mixin-EATMma_S-Pdh_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-zlu10FX9-2qf_color);
  font-size: var(--mixin-zlu10FX9-2qf_font-size);
  font-weight: var(--mixin-zlu10FX9-2qf_font-weight);
  line-height: var(--mixin-zlu10FX9-2qf_line-height);
  letter-spacing: var(--mixin-zlu10FX9-2qf_letter-spacing);
  font-family: var(--mixin-zlu10FX9-2qf_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-iowLOUKQgfre_font-family);
  border-radius: var(--mixin-iowLOUKQgfre_border-top-left-radius)
    var(--mixin-iowLOUKQgfre_border-top-right-radius)
    var(--mixin-iowLOUKQgfre_border-bottom-right-radius)
    var(--mixin-iowLOUKQgfre_border-bottom-left-radius);
  padding: var(--mixin-iowLOUKQgfre_padding-top)
    var(--mixin-iowLOUKQgfre_padding-right)
    var(--mixin-iowLOUKQgfre_padding-bottom)
    var(--mixin-iowLOUKQgfre_padding-left);
  border-top: var(--mixin-iowLOUKQgfre_border-top-width)
    var(--mixin-iowLOUKQgfre_border-top-style)
    var(--mixin-iowLOUKQgfre_border-top-color);
  border-right: var(--mixin-iowLOUKQgfre_border-right-width)
    var(--mixin-iowLOUKQgfre_border-right-style)
    var(--mixin-iowLOUKQgfre_border-right-color);
  border-bottom: var(--mixin-iowLOUKQgfre_border-bottom-width)
    var(--mixin-iowLOUKQgfre_border-bottom-style)
    var(--mixin-iowLOUKQgfre_border-bottom-color);
  border-left: var(--mixin-iowLOUKQgfre_border-left-width)
    var(--mixin-iowLOUKQgfre_border-left-style)
    var(--mixin-iowLOUKQgfre_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-go6bAExUqL9i_color);
  padding-left: var(--mixin-go6bAExUqL9i_padding-left);
  border-left: var(--mixin-go6bAExUqL9i_border-left-width)
    var(--mixin-go6bAExUqL9i_border-left-style)
    var(--mixin-go6bAExUqL9i_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Le6-eboRGyyL_font-family);
  border-radius: var(--mixin-Le6-eboRGyyL_border-top-left-radius)
    var(--mixin-Le6-eboRGyyL_border-top-right-radius)
    var(--mixin-Le6-eboRGyyL_border-bottom-right-radius)
    var(--mixin-Le6-eboRGyyL_border-bottom-left-radius);
  padding: var(--mixin-Le6-eboRGyyL_padding-top)
    var(--mixin-Le6-eboRGyyL_padding-right)
    var(--mixin-Le6-eboRGyyL_padding-bottom)
    var(--mixin-Le6-eboRGyyL_padding-left);
  border-top: var(--mixin-Le6-eboRGyyL_border-top-width)
    var(--mixin-Le6-eboRGyyL_border-top-style)
    var(--mixin-Le6-eboRGyyL_border-top-color);
  border-right: var(--mixin-Le6-eboRGyyL_border-right-width)
    var(--mixin-Le6-eboRGyyL_border-right-style)
    var(--mixin-Le6-eboRGyyL_border-right-color);
  border-bottom: var(--mixin-Le6-eboRGyyL_border-bottom-width)
    var(--mixin-Le6-eboRGyyL_border-bottom-style)
    var(--mixin-Le6-eboRGyyL_border-bottom-color);
  border-left: var(--mixin-Le6-eboRGyyL_border-left-width)
    var(--mixin-Le6-eboRGyyL_border-left-style)
    var(--mixin-Le6-eboRGyyL_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-uRZCm0S2ZvOr_display);
  flex-direction: var(--mixin-uRZCm0S2ZvOr_flex-direction);
  align-items: var(--mixin-uRZCm0S2ZvOr_align-items);
  justify-content: var(--mixin-uRZCm0S2ZvOr_justify-content);
  list-style-position: var(--mixin-uRZCm0S2ZvOr_list-style-position);
  padding-left: var(--mixin-uRZCm0S2ZvOr_padding-left);
  position: var(--mixin-uRZCm0S2ZvOr_position);
  list-style-type: var(--mixin-uRZCm0S2ZvOr_list-style-type);
  column-gap: var(--mixin-uRZCm0S2ZvOr_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-7jigknzIbRsW_display);
  flex-direction: var(--mixin-7jigknzIbRsW_flex-direction);
  align-items: var(--mixin-7jigknzIbRsW_align-items);
  justify-content: var(--mixin-7jigknzIbRsW_justify-content);
  list-style-position: var(--mixin-7jigknzIbRsW_list-style-position);
  padding-left: var(--mixin-7jigknzIbRsW_padding-left);
  position: var(--mixin-7jigknzIbRsW_position);
  list-style-type: var(--mixin-7jigknzIbRsW_list-style-type);
  column-gap: var(--mixin-7jigknzIbRsW_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-OkqmzZr31O-3_color);
  font-size: var(--mixin-OkqmzZr31O-3_font-size);
  font-weight: var(--mixin-OkqmzZr31O-3_font-weight);
  line-height: var(--mixin-OkqmzZr31O-3_line-height);
  letter-spacing: var(--mixin-OkqmzZr31O-3_letter-spacing);
  font-family: var(--mixin-OkqmzZr31O-3_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-VaIFHZLiyg02_color);
  font-size: var(--mixin-VaIFHZLiyg02_font-size);
  font-weight: var(--mixin-VaIFHZLiyg02_font-weight);
  line-height: var(--mixin-VaIFHZLiyg02_line-height);
  letter-spacing: var(--mixin-VaIFHZLiyg02_letter-spacing);
  font-family: var(--mixin-VaIFHZLiyg02_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-QraUlnIZ6dxH_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-LBwLZ6Rv5R0I_color);
  font-family: var(--mixin-LBwLZ6Rv5R0I_font-family);
  font-weight: var(--mixin-LBwLZ6Rv5R0I_font-weight);
  font-size: var(--mixin-LBwLZ6Rv5R0I_font-size);
  line-height: var(--mixin-LBwLZ6Rv5R0I_line-height);
}
