.dashboard {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-6JBAKV5Jtaxs);
  box-shadow:
    inset 0px 4px 16px 0px #1a1818ba,
    0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 1s;
  transform: skew(0deg, 0deg);
  min-width: 0;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 0px;
}
.freeBox___7XcWx {
  display: block;
  position: absolute;
  width: 262px;
  height: 53px;
  max-width: 100%;
  background: var(--token-7HQ12MdxX_MO);
  left: 0px;
  top: 0px;
  box-shadow: none;
  padding: 8px;
}
.img__tqu9N {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 19px;
  top: 6px;
  height: 38px;
  mix-blend-mode: color-dodge;
}
.img__tqu9N > picture > img {
  object-fit: cover;
}
.img__rKQy0 {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 76px;
  top: 7px;
  height: 38px;
  mix-blend-mode: color-dodge;
}
.img__rKQy0 > picture > img {
  object-fit: cover;
}
.freeBox__apFbP {
  display: block;
  position: absolute;
  width: 100%;
  height: 52px;
  max-width: 100%;
  background: #333344;
  left: 260px;
  top: 1px;
  box-shadow: none;
  min-width: 0;
  padding: 8px 8px 1px;
}
.img__uyofo {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 1123px;
  top: 7px;
  height: 38px;
  mix-blend-mode: color-dodge;
}
.img__uyofo > picture > img {
  object-fit: cover;
}
.img__hjl0D {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 1071px;
  top: 7px;
  height: 38px;
  mix-blend-mode: color-dodge;
}
.img__hjl0D > picture > img {
  object-fit: cover;
}
.img__kKm5Q {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 1016px;
  top: 6px;
  height: 38px;
  mix-blend-mode: color-dodge;
}
.img__kKm5Q > picture > img {
  object-fit: cover;
}
.textField:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: absolute;
  left: 664px;
  top: 2px;
  width: 335px;
  height: 40px;
}
.text__kz21U {
  font-size: 2px;
  text-align: left;
}
.svg__uetew {
  position: relative;
  height: 1em;
}
.svg__n673X {
  position: relative;
  height: 1em;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 971px;
  top: 13px;
  height: var(--token-pMd0tQfur5NT);
}
.button___0Ex9N:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 19px;
  top: 7px;
  background: #c6e5e0;
  box-shadow: 0px 10px 16px 0px var(--token-u49XXaQUZiAI);
  mix-blend-mode: color-dodge;
  border: 2px solid var(--token-r1Fe1RDtPkf6);
}
.text__ak21 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-errroV0cZyw6);
  min-width: 0;
}
.button__wqkTh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 154px;
  top: 7px;
  background: #c6e5e0;
  box-shadow: 0px 10px 16px 0px var(--token-u49XXaQUZiAI);
  mix-blend-mode: color-dodge;
  border: 2px solid var(--token-r1Fe1RDtPkf6);
}
.text__h9OZ9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-errroV0cZyw6);
  padding-right: 0px;
  min-width: 0;
}
.button__gpy4Q:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 257px;
  top: 8px;
  background: #c6e5e0;
  box-shadow: 0px 10px 16px 0px var(--token-u49XXaQUZiAI);
  mix-blend-mode: color-dodge;
  border: 2px solid var(--token-r1Fe1RDtPkf6);
}
.text__umVcf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-errroV0cZyw6);
  padding-right: 0px;
  min-width: 0;
}
.button___6TTuu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 341px;
  top: 9px;
  background: #c6e5e0;
  box-shadow: 0px 10px 16px 0px var(--token-u49XXaQUZiAI);
  mix-blend-mode: color-dodge;
  border: 2px solid var(--token-r1Fe1RDtPkf6);
}
.text__rps2Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-errroV0cZyw6);
  min-width: 0;
}
.freeBox__i3Qsa {
  display: block;
  position: absolute;
  width: 100%;
  height: 48px;
  max-width: 100%;
  background: linear-gradient(
    91.79739487174129deg,
    var(--token-u49XXaQUZiAI) 65%,
    #10d7d4 100%
  );
  left: 259px;
  top: 53px;
  min-width: 0;
  padding: 8px 8px 1px;
}
.link__zSb2D {
  position: absolute;
  left: 449px;
  top: 24px;
  color: var(--token-vfZUx7yR0LB7);
  font-size: 22px;
  font-family: "Judson", serif;
}
.link___8KqsW {
  position: absolute;
  left: 537px;
  top: 24px;
  color: var(--token-vfZUx7yR0LB7);
  font-size: 22px;
  font-family: "Judson", serif;
}
.link__g4Kar {
  position: absolute;
  left: 628px;
  top: 25px;
  color: var(--token-vfZUx7yR0LB7);
  font-size: 22px;
  font-family: "Judson", serif;
  padding-right: 0px;
}
.link__xLp8N {
  position: absolute;
  left: 753px;
  top: 24px;
  color: var(--token-vfZUx7yR0LB7);
  font-size: 22px;
  font-family: "Judson", serif;
}
.freeBox__oRyBh {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: linear-gradient(
    91.79739487174129deg,
    var(--token-u49XXaQUZiAI) 63%,
    #10d7d4 100%
  );
  left: 262px;
  top: 100px;
  min-width: 0;
  min-height: 0;
  padding: 8px 8px 1px;
}
.freeBox__saB2Q {
  display: block;
  position: absolute;
  width: 100%;
  height: 908px;
  max-width: 97%;
  left: 26px;
  top: -2px;
  background: var(--token-w1eZiUdhfBOz);
  box-shadow: 0px 14px 16px 0px var(--token-u49XXaQUZiAI);
  margin-right: 4px;
  flex-grow: 0;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.table:global(.__wab_instance) {
  width: 100%;
  max-height: 100%;
  max-width: 96%;
  object-fit: cover;
  position: absolute;
  left: 5px;
  top: -11px;
  text-align: left;
  height: auto;
  background: none;
  box-shadow: none;
  transform: translate3d(0px, 0px, 0px);
  transition-property: all;
  transition-duration: 1s;
  color: var(--token-EaloSj03TePG);
  font-weight: 400;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 16px;
}
.freeBox__apTkU {
  display: block;
  position: absolute;
  width: 262px;
  height: 48px;
  max-width: 100%;
  background: var(--token-u49XXaQUZiAI);
  left: -2px;
  top: 53px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__apTkU {
    display: none;
  }
}
.link__rsKzz {
  position: absolute;
  left: 24px;
  top: 18px;
  color: var(--token-bRBqiRRlyC_k);
  font-size: 14px;
  text-align: left;
  font-family: "Inria Sans", sans-serif;
  width: 217px;
}
.freeBox__lg0Jy {
  display: block;
  position: absolute;
  width: 262px;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 92px;
  background: var(--token-w1eZiUdhfBOz);
  box-shadow: 0px 14px 16px 0px var(--token-u49XXaQUZiAI);
  min-height: 0;
  padding: 8px;
}
.treeBrowser:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 31px;
  top: 14px;
  width: 205px;
  height: 727px;
}
