.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-kNVYVz2b0TE1);
  font-size: var(--token-aJ14SHCz_oxA);
  line-height: var(--token-HGGLbZYni-EX);
  width: 100%;
  color: var(--token-u49XXaQUZiAI);
  font-family: var(--token-YF3w8U4wFqXe);
  min-width: 0;
  border-radius: var(--token--YeAyOBV16l4);
  padding: var(--token--YeAyOBV16l4) var(--token-GMjDdi7lJdt0);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-neUOG9qwUQUJ);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-tFVGRA_UbJgI);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-3Q-L7Abyxg8M);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-tFVGRA_UbJgI);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-_dDOhHKmY1NU);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-_dDOhHKmY1NU);
}
