.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  row-gap: var(--token-mYgXYJ2-62sr);
  min-width: 0;
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__xqWaw {
  display: flex;
  flex-direction: column;
}
.freeBox__ha7Gp {
  flex-direction: row;
  position: absolute;
  height: var(--token-_dDOhHKmY1NU);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token--YeAyOBV16l4) var(--token-GMjDdi7lJdt0);
}
.freeBoxiconStart__ha7GpneHWh {
  display: flex;
}
.slotTargetStart {
  color: var(--token-CTTtqHsPhci8);
}
.svg__uzbLp {
  position: relative;
  height: 1em;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox__swP0O {
  height: var(--token-_dDOhHKmY1NU);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token--YeAyOBV16l4) var(--token-GMjDdi7lJdt0);
}
.freeBoxiconEnd__swP0OEvc {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-CTTtqHsPhci8);
}
.svg__eEGr {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
