.ariaTooltip:global(.__wab_instance) {
  box-sizing: border-box;
  position: relative;
  color: #ffffff;
}
.slotTargetTrigger {
  color: var(--token-u49XXaQUZiAI);
  font-family: var(--token-YF3w8U4wFqXe);
  font-size: var(--token-aJ14SHCz_oxA);
  line-height: var(--token-HGGLbZYni-EX);
}
.text__lLQd4 {
  position: relative;
}
.overlayArrow:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox {
  display: flex;
  position: relative;
  background: var(--token-_KfeqfHy0HCk);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  row-gap: var(--token-mYgXYJ2-62sr);
  border-radius: var(--token-AwfY-ue5xb8v);
  padding: var(--token-ytrQEs57NROP);
}
.slotTargetContent {
  color: var(--token-5_8mBOzeB836);
  font-family: var(--token-YF3w8U4wFqXe);
  font-size: var(--token-aJ14SHCz_oxA);
  line-height: var(--token-HGGLbZYni-EX);
}
