.ariaInput:global(.__wab_instance) {
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px var(--token-kNVYVz2b0TE1);
  color: var(--token-u49XXaQUZiAI);
  font-family: var(--token-YF3w8U4wFqXe);
  font-size: var(--token-aJ14SHCz_oxA);
  line-height: var(--token-HGGLbZYni-EX);
  width: 100%;
  position: relative;
  outline-style: none;
  min-width: 0;
  border-radius: var(--token--YeAyOBV16l4);
  padding: var(--token--YeAyOBV16l4) var(--token-GMjDdi7lJdt0);
  border-style: none;
}
.ariaInput[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaInput[data-focused]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-UAwhjoWc0m7r);
  outline-offset: 1px;
  outline-color: var(--token-neUOG9qwUQUJ);
}
.ariaInputtype_soft:global(.__wab_instance) {
  background: var(--token-tFVGRA_UbJgI);
  box-shadow: none;
}
.ariaInputtype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-3Q-L7Abyxg8M);
}
.ariaInputtype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaInputtype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-tFVGRA_UbJgI);
}
.ariaInputflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaInputflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaInputpadded_left:global(.__wab_instance) {
  padding-left: var(--token-_dDOhHKmY1NU);
}
.ariaInputpadded_right:global(.__wab_instance) {
  padding-right: var(--token-_dDOhHKmY1NU);
}
