.ariaRangeSlider:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--token-u49XXaQUZiAI);
  font-family: var(--token-YF3w8U4wFqXe);
  font-size: var(--token-aJ14SHCz_oxA);
  line-height: var(--token-HGGLbZYni-EX);
  min-width: 200px;
  row-gap: var(--token-ytrQEs57NROP);
}
.ariaRangeSlider[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__apL6Q {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  column-gap: var(--token-AwfY-ue5xb8v);
}
.text__xE6Vs {
  position: relative;
}
.text {
  position: relative;
}
.freeBox__nuFmG {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: var(--token--YeAyOBV16l4);
  padding-bottom: var(--token--YeAyOBV16l4);
  width: 100%;
  min-width: 0;
}
.background {
  display: flex;
  background: var(--token-95aQbd9MbHdU);
  height: var(--token-AwfY-ue5xb8v);
  width: 100%;
  min-width: 0;
  border-radius: 99px;
}
.ariaSliderTrack:global(.__wab_instance) {
  cursor: pointer;
  opacity: 1;
  box-sizing: border-box;
  background: none;
  height: var(--token-AwfY-ue5xb8v);
  width: 100%;
  min-width: 0;
}
.sliderThumb___0Qy0P:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: var(--token-mYgXYJ2-62sr);
}
.foreground {
  display: block;
  background: var(--token-neUOG9qwUQUJ);
  height: var(--token-AwfY-ue5xb8v);
  border-radius: 99px 0rem 0rem 99px;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
