.root:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  color: var(--token-u49XXaQUZiAI);
  font-family: var(--token-YF3w8U4wFqXe);
  font-size: var(--token-aJ14SHCz_oxA);
  line-height: var(--token-HGGLbZYni-EX);
}
.freeBox {
  display: flex;
  flex-direction: row;
  padding: var(--token-AwfY-ue5xb8v) var(--token-GMjDdi7lJdt0);
}
.slotTargetHeader {
  font-weight: 600;
}
