.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-6JBAKV5Jtaxs);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.pageLayout:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.section__zrpuT {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 12px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 16px 0 0px;
}
.section__zrpuT > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__zrpuT > * {
    grid-column: 4;
  }
}
.dateTimeRangePicker:global(.__wab_instance) {
  position: relative;
}
.dateTimePicker__vIndE:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.dateTimePicker__my4GY:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__mQju3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 12px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mQju3 {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    column-gap: 0px;
  }
}
.statistic__tntWr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__y8Oih {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.p___64ZSy {
  color: var(--token-rWSjqD1G25yv);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
}
.img__cneHh {
  position: relative;
  object-fit: cover;
  max-width: 28px;
  max-height: 28px;
}
.img__cneHh > picture > img {
  object-fit: cover;
}
.text__o1Gtt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.statistic__iOeff:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___1CknS {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.img___3HouA {
  position: relative;
  object-fit: cover;
  max-width: 28px;
  max-height: 28px;
}
.img___3HouA > picture > img {
  object-fit: cover;
}
.text__xHyqB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.statistic__wHreK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__tHYyw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.img__t90Pe {
  position: relative;
  object-fit: cover;
  max-width: 28px;
  max-height: 28px;
}
.img__t90Pe > picture > img {
  object-fit: cover;
}
.text__eoG5N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section__mbo5X {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 8px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 16px 0 0px;
}
.section__mbo5X > * {
  grid-column: 4;
}
.freeBox___9G27P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 12px;
  padding: 0px;
}
.h2__bz5Lf {
  color: var(--token-rWSjqD1G25yv);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 16px;
  padding-left: 16px;
  min-width: 0;
}
.table:global(.__wab_instance) {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  padding: 16px;
}
