.ariaCheckbox:global(.__wab_instance) {
  object-fit: cover;
  cursor: pointer;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  color: var(--token-u49XXaQUZiAI);
  font-family: var(--token-YF3w8U4wFqXe);
  font-size: var(--token-aJ14SHCz_oxA);
  line-height: var(--token-HGGLbZYni-EX);
  width: 100%;
  column-gap: var(--token-AwfY-ue5xb8v);
  min-width: 0;
}
.ariaCheckbox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaCheckbox[data-readonly]:global(.__wab_instance) {
  cursor: default;
  pointer-events: none;
}
.freeBox {
  position: relative;
  width: var(--token-ZRTlP_kxGJj9);
  height: var(--token-ZRTlP_kxGJj9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--token-UAwhjoWc0m7r);
  border: 2px solid var(--token-z-CT4RloyQ7o);
}
.ariaCheckbox[data-focus-visible] .freeBox {
  outline-style: solid;
  outline-color: var(--token-neUOG9qwUQUJ);
  outline-offset: 1px;
  outline-width: 2px;
}
.ariaCheckbox[data-indeterminate] .freeBox {
  background: var(--token-neUOG9qwUQUJ);
  border-color: var(--token-neUOG9qwUQUJ);
}
.ariaCheckbox[data-selected] .freeBox {
  background: var(--token-neUOG9qwUQUJ);
  border-color: var(--token-neUOG9qwUQUJ);
}
.svg__qfyjH {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
}
.ariaCheckbox[data-selected] .svg__qfyjH {
  display: block;
}
.svg___5L1Zb {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
}
.ariaCheckbox[data-indeterminate] .svg___5L1Zb {
  display: block;
}
