.ariaSelect:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-mYgXYJ2-62sr);
  min-width: 0;
}
.ariaSelect[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  box-shadow: inset 0px 0px 0px 1px var(--token-kNVYVz2b0TE1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  outline-style: none;
  background: var(--token-r1Fe1RDtPkf6);
  min-width: 0;
  border-radius: var(--token--YeAyOBV16l4);
  padding: 0px;
  border-style: none;
}
.ariaSelect[data-focus-visible] .ariaButton:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-UAwhjoWc0m7r);
  outline-offset: 1px;
  outline-color: var(--token-neUOG9qwUQUJ);
}
.ariaSelectedValue:global(.__wab_instance) {
  font-size: var(--token-aJ14SHCz_oxA);
  line-height: var(--token-HGGLbZYni-EX);
  padding-top: var(--token--YeAyOBV16l4);
  padding-bottom: var(--token--YeAyOBV16l4);
  padding-left: var(--token-GMjDdi7lJdt0);
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-CTTtqHsPhci8);
  min-width: 0;
}
.freeBox {
  display: flex;
  position: relative;
  width: var(--token-_dDOhHKmY1NU);
  height: var(--token-_dDOhHKmY1NU);
  justify-content: center;
  align-items: center;
}
.svg {
  width: var(--token-3a7CgfZvY-kY);
  height: var(--token-3a7CgfZvY-kY);
  flex-shrink: 0;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.menuPopover:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.menuSection__sdjDy:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__h2DJe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
