.root {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  background: #fdfdfd;
  min-width: 0;
  min-height: 0;
  border-radius: 12px;
  padding: 12px 16px;
}
.slotTargetUnit {
  font-size: 36px;
}
.freeBox___0WyBq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.p__mX9Ni {
  color: var(--token-rWSjqD1G25yv);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
}
.img__l1Vga {
  object-fit: cover;
  max-width: 28px;
  max-height: 28px;
  position: relative;
}
.img__l1Vga > picture > img {
  object-fit: cover;
}
.imghideIcon__l1VgaDGu8 {
  display: none;
}
.freeBox__nM73 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.freeBox___2H50 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 1;
  min-width: 0;
  padding: 8px 0px 0px;
}
.text__i91Sf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h2__sPoGw {
  color: var(--token-oLhaBTROnEH9);
}
.freeBox__imhsS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__eHr50 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.freeBoxhideTrendTracker__eHr50GtgKt {
  display: none;
}
.freeBox__fpzTg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  align-self: center;
  border-radius: 10px;
  padding: 0px;
}
.freeBox___7FGxN {
  position: relative;
  height: auto;
  max-width: 100%;
  width: auto;
  background: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.slotTargetNumberTrend {
  color: var(--token-p72uFHMKYi_a);
  letter-spacing: 0%;
  font-size: 12px;
  line-height: 16px;
}
.freeBox___1BeX3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__dOq8V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetTimeRange {
  color: var(--token-m0u2XMpRqedo);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
}
