.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.button___4XKd1:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__fh6JA {
  position: relative;
  height: 1em;
}
.svg__tyy25 {
  position: relative;
  height: 1em;
}
.ariaPopover:global(.__wab_instance) {
  font-family: var(--token-YF3w8U4wFqXe);
  font-size: var(--token-aJ14SHCz_oxA);
  color: var(--token-u49XXaQUZiAI);
  line-height: var(--token-HGGLbZYni-EX);
  box-shadow: 0px 0px 20px 0px #00000040;
  border-radius: var(--token-ytrQEs57NROP);
}
.ariaDialog:global(.__wab_instance) {
  object-fit: cover;
  outline-style: none;
}
.freeBox___3T9N1 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  background: var(--token-r1Fe1RDtPkf6);
  align-items: flex-start;
  width: 320px;
  row-gap: var(--token-AwfY-ue5xb8v);
  border-radius: var(--token-ytrQEs57NROP);
  padding: var(--token-3a7CgfZvY-kY);
}
.text__nU1O9 {
  position: relative;
}
.text__dzMlh {
  position: relative;
  font-weight: 500;
}
.text__tjvaM {
  position: relative;
}
